body {
  margin: 0;
  font-size: 24px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em;
}

.selector {
  position: fixed;
  top: 15px;
  left: 0;
  right: 0;
  text-align: center;
  a {
    background-color: #333;
    margin: 0.1em 0.2em;
    padding: 0.1em 0.4em;
    color: #e0e0e0;
    text-decoration: none;
    -webkit-user-select: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.3;
    &.selected {
      opacity: 1.0;
    }
  }
}
